# Dependencies
/vendor/
node_modules/

# Debugging logs
npm-debug.log
yarn-error.log
composer.lock

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
storage/
storage/*.key
bootstrap/cache/
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Environment files
.env
.env.*.local
.env.backup
.env.production
!.env.example  # Memastikan .env.example tetap ter-track

# Homestead & Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit
.phpunit.result.cache

# IDE & Editor files
/.phpactor.json
/.phpstorm.meta.php
/.idea/
/*.sublime-project
/*.sublime-workspace

# Logs & temp files
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
storage/debugbar/
storage/pail
*.log

# Build files
/public/build
/public/mix-manifest.json
/public/css
/public/js
/public/hot

# Authentication & sensitive files
auth.json
.plan.txt
